{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>RegistrationForm</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- LINEARICONS -->
		<link rel="stylesheet" href="fonts/linearicons/style.css">
		
		<!-- STYLE CSS -->
		<link rel="stylesheet" href="{% static 'css/register.css' %}">
	</head>

	<body>

		<div class="wrapper">
			<div class="inner">
				<img src="{% static 'images/image-1.png'%}" alt="" class="image-1">
				<form method="POST">
					<h3>New Account?</h3>
					<div class="form-holder">
						<span class="lnr lnr-user"></span>
						{{form.firstname}}
					</div>
					<div class="form-holder">
						<span class="lnr lnr-phone-handset"></span>
						{{form.lastname}}
					</div>
					<div class="form-holder">
						<span class="lnr lnr-envelope"></span>
						{{form.email}}
					</div>
					<div class="form-holder">
						<span class="lnr lnr-envelope"></span>
						{{form.phone}}
					</div>
					<div class="form-holder">
						<span class="lnr lnr-lock"></span>
						{{form.password}}
					</div>
					<div class="form-holder">
						<span class="lnr lnr-lock"></span>
						{{form.con_password}}
					</div>
					<button>
						<span>Register</span>
					</button>
				</form>
				<img src="{% static 'images/image-2.png'%}" alt="" class="image-2">
			</div>
			
		</div>
		
		<script src="js/jquery-3.3.1.min.js"></script>
		<script src="js/main.js"></script>
	</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>